DATABASES = {
    'default': {
        'ENGINE':   'django.db.backends.postgresql',
        'NAME':     'hc',
        'USER':     'postgres',
        'PASSWORD': '',
        'TEST': {'CHARSET': 'UTF8'}
    }
}

